/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2d3748;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4a5568 #2d3748;
}

.custom-scrollbar {
    max-height: 55vh!important;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .custom-scrollbar {
        max-height: 70vh;
        overflow-y: auto;
    }
}

.custom-scrollbar th {
    position: sticky;
    top: 0;
    background-color: #2d3748;
    z-index: 10;
}